/* Coolors Exported Palette - https://coolors.co/6ba368-0b0a0a-f8c9d8-fef8ec-7f675b */

/* CSS HEX */
--asparagus: #6ba368ff;
--night: #0b0a0aff;
--fairy-tale: #f8c9d8ff;
--floral-white: #fef8ecff;
--umber: #7f675bff;

/* CSS HSL */
--asparagus: hsla(117, 24%, 52%, 1);
--night: hsla(0, 5%, 4%, 1);
--fairy-tale: hsla(341, 77%, 88%, 1);
--floral-white: hsla(40, 90%, 96%, 1);
--umber: hsla(20, 17%, 43%, 1);

/* SCSS HEX */
$asparagus: #6ba368ff;
$night: #0b0a0aff;
$fairy-tale: #f8c9d8ff;
$floral-white: #fef8ecff;
$umber: #7f675bff;

/* SCSS HSL */
$asparagus: hsla(117, 24%, 52%, 1);
$night: hsla(0, 5%, 4%, 1);
$fairy-tale: hsla(341, 77%, 88%, 1);
$floral-white: hsla(40, 90%, 96%, 1);
$umber: hsla(20, 17%, 43%, 1);

/* SCSS RGB */
$asparagus: rgba(107, 163, 104, 1);
$night: rgba(11, 10, 10, 1);
$fairy-tale: rgba(248, 201, 216, 1);
$floral-white: rgba(254, 248, 236, 1);
$umber: rgba(127, 103, 91, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #6ba368ff, #0b0a0aff, #f8c9d8ff, #fef8ecff, #7f675bff);
$gradient-right: linear-gradient(90deg, #6ba368ff, #0b0a0aff, #f8c9d8ff, #fef8ecff, #7f675bff);
$gradient-bottom: linear-gradient(180deg, #6ba368ff, #0b0a0aff, #f8c9d8ff, #fef8ecff, #7f675bff);
$gradient-left: linear-gradient(270deg, #6ba368ff, #0b0a0aff, #f8c9d8ff, #fef8ecff, #7f675bff);
$gradient-top-right: linear-gradient(45deg, #6ba368ff, #0b0a0aff, #f8c9d8ff, #fef8ecff, #7f675bff);
$gradient-bottom-right: linear-gradient(135deg, #6ba368ff, #0b0a0aff, #f8c9d8ff, #fef8ecff, #7f675bff);
$gradient-top-left: linear-gradient(225deg, #6ba368ff, #0b0a0aff, #f8c9d8ff, #fef8ecff, #7f675bff);
$gradient-bottom-left: linear-gradient(315deg, #6ba368ff, #0b0a0aff, #f8c9d8ff, #fef8ecff, #7f675bff);
$gradient-radial: radial-gradient(#6ba368ff, #0b0a0aff, #f8c9d8ff, #fef8ecff, #7f675bff);